openapi: 3.1.0
info:
  title: KommunSign API
  version: '2026-08-03.2'
  description: >-
    Organization context is derived from the authenticated account, verified domain or mTLS identity and is never accepted from request payloads.
    Runtime endpoints fail closed when signing, validation, archive or storage providers are not configured.
servers:
  - url: https://api.kommunsign.se/v1
security:
  - oauth2: [signature-cases:read, signature-cases:write]
paths:
  /signature-cases:
    post:
      operationId: createSignatureCase
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/RequestId'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateSignatureCase'}}}}
      responses: {'201': {description: Created, content: {application/json: {schema: {$ref: '#/components/schemas/SignatureCase'}}}}, '409': {$ref: '#/components/responses/IdempotencyConflict'}, default: {$ref: '#/components/responses/Error'}}
    get:
      operationId: listSignatureCases
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/Limit'}, {$ref: '#/components/parameters/Cursor'}, {$ref: '#/components/parameters/RequestId'}]
      responses: {'200': {description: Tenant-scoped page, content: {application/json: {schema: {$ref: '#/components/schemas/SignatureCasePage'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}:
    get:
      operationId: getSignatureCase
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/RequestId'}]
      responses: {'200': {description: Found, headers: {ETag: {schema: {type: string}}}, content: {application/json: {schema: {$ref: '#/components/schemas/SignatureCase'}}}}, '404': {$ref: '#/components/responses/NotFound'}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/documents:
    post:
      operationId: addDocument
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AddDocument'}}}}
      responses: {'202': {description: Document placed in quarantine, content: {application/json: {schema: {$ref: '#/components/schemas/Document'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/signers:
    post:
      operationId: addSigner
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AddSigner'}}}}
      responses: {'201': {description: Signer added, content: {application/json: {schema: {$ref: '#/components/schemas/Signer'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/send:
    post:
      operationId: sendSignatureCase
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      responses: {'200': {description: Sent, content: {application/json: {schema: {$ref: '#/components/schemas/SignatureCase'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/cancel:
    post:
      operationId: cancelSignatureCase
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      responses: {'200': {description: Cancelled, content: {application/json: {schema: {$ref: '#/components/schemas/SignatureCase'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/remind:
    post:
      operationId: remindSigners
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {description: Durable reminder job queued, content: {application/json: {schema: {$ref: '#/components/schemas/QueuedJob'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/signed-document:
    get:
      operationId: downloadSignedDocument
      x-kommunsign-implementation-status: runtime
      security: [{oauth2: [documents:download]}]
      parameters: [{$ref: '#/components/parameters/CaseId'}]
      responses: {'200': {description: Signed PDF, content: {application/pdf: {schema: {type: string, contentEncoding: binary}}}}, '503': {$ref: '#/components/responses/ProviderNotConfigured'}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/validation-report:
    get:
      operationId: downloadValidationReport
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}]
      responses: {'200': {description: Validation report, content: {application/json: {schema: {type: string, contentEncoding: binary}}, application/pdf: {schema: {type: string, contentEncoding: binary}}}}, '503': {$ref: '#/components/responses/ProviderNotConfigured'}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/evidence-package:
    get:
      operationId: downloadEvidencePackage
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}]
      responses: {'200': {description: Verifiable evidence archive, content: {application/zip: {schema: {type: string, contentEncoding: binary}}}}, '409': {description: Evidence package is not ready}, default: {$ref: '#/components/responses/Error'}}
  /uploads:
    post:
      operationId: createPresignedUpload
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateUploadGrant'}}}}
      responses: {'201': {description: Short-lived single-use tenant-bound grant, content: {application/json: {schema: {$ref: '#/components/schemas/UploadGrant'}}}}, default: {$ref: '#/components/responses/Error'}}
  /uploads/{uploadId}/complete:
    post:
      operationId: completeUpload
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/UploadId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CompleteUpload'}}}}
      responses: {'202': {description: Upload verified server-side and document scan queued, content: {application/json: {schema: {$ref: '#/components/schemas/UploadCompleted'}}}}, default: {$ref: '#/components/responses/Error'}}
  /signature-cases/{id}/signers/{signerId}:
    patch:
      operationId: updateSigner
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/CaseId'}, {$ref: '#/components/parameters/SignerId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/AddSigner'}}}}
      responses: {'200': {description: Draft signer replaced using optimistic concurrency, content: {application/json: {schema: {$ref: '#/components/schemas/Signer'}}}}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}:
    get:
      operationId: getPublicSigningInvitation
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}]
      responses: {'200': {description: Non-sensitive signer view with immutable document manifest, headers: {Cache-Control: {schema: {type: string, const: 'no-store'}}}, content: {application/json: {schema: {$ref: '#/components/schemas/PublicSigningInvitation'}}}}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/opened:
    post:
      operationId: markPublicSigningInvitationOpened
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}]
      responses: {'200': {description: Idempotently marked opened}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/documents/{documentId}:
    get:
      operationId: downloadPublicSigningDocument
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}, {$ref: '#/components/parameters/DocumentId'}]
      responses: {'200': {description: Exact locked canonical PDF/A-2b bytes, content: {application/pdf: {schema: {type: string, contentEncoding: binary}}}}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/bankid/start:
    post:
      operationId: startPublicBankIdSigning
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [reviewAcknowledged], properties: {reviewAcknowledged: {type: boolean, const: true}}}}}}
      responses: {'201': {description: TIC production session started, content: {application/json: {schema: {$ref: '#/components/schemas/BankIdSession'}}}}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/bankid/sessions/{sessionId}:
    get:
      operationId: getPublicBankIdSession
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}, {$ref: '#/components/parameters/ProviderSessionId'}]
      responses: {'200': {description: Normalized BankID session status, content: {application/json: {schema: {$ref: '#/components/schemas/BankIdSession'}}}}, default: {$ref: '#/components/responses/Error'}}
    delete:
      operationId: cancelPublicBankIdSession
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}, {$ref: '#/components/parameters/ProviderSessionId'}]
      responses: {'200': {description: Session cancelled idempotently}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/bankid/sessions/{sessionId}/extend:
    post:
      operationId: extendPublicBankIdSession
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}, {$ref: '#/components/parameters/ProviderSessionId'}]
      responses: {'200': {description: Session extended once where TIC permits}, default: {$ref: '#/components/responses/Error'}}
  /public/signing-invitations/{token}/decline:
    post:
      operationId: declinePublicSigningInvitation
      security: []
      parameters: [{$ref: '#/components/parameters/InvitationToken'}]
      requestBody: {required: false, content: {application/json: {schema: {type: object, additionalProperties: false, properties: {reason: {type: string, maxLength: 1000}}}}}}
      responses: {'200': {description: Required signer decline terminates the case flow}, default: {$ref: '#/components/responses/Error'}}
  /provider-webhooks/tic/bankid:
    post:
      operationId: receiveTicBankIdWebhook
      security: []
      parameters:
        - {in: header, name: X-Ormeo-Signature, required: true, schema: {type: string}}
        - {in: header, name: X-Ormeo-Timestamp, required: true, schema: {type: string}}
        - {in: header, name: X-Ormeo-Event, required: true, schema: {type: string, const: sign.completed}}
      requestBody: {required: true, content: {application/json: {schema: {type: object}}}}
      responses: {'202': {description: Raw-body signature verified and event durably persisted}, default: {$ref: '#/components/responses/Error'}}
  /provider-webhooks/resend:
    post:
      operationId: receiveResendWebhook
      security: []
      requestBody: {required: true, content: {application/json: {schema: {type: object}}}}
      responses: {'202': {description: Svix signature verified and event durably persisted}, default: {$ref: '#/components/responses/Error'}}
  /public/verifications/{verificationId}:
    get:
      operationId: getPublicVerification
      security: []
      parameters: [{$ref: '#/components/parameters/VerificationId'}]
      responses: {'200': {description: Non-sensitive verification summary, content: {application/json: {schema: {$ref: '#/components/schemas/PublicVerification'}}}}, '404': {$ref: '#/components/responses/NotFound'}, default: {$ref: '#/components/responses/Error'}}
  /public/verifications/packages/verify:
    post:
      operationId: verifyUploadedEvidencePackage
      security: []
      requestBody: {required: true, content: {application/zip: {schema: {type: string, contentEncoding: binary}}}}
      responses: {'200': {description: Offline deterministic package verification result, content: {application/json: {schema: {$ref: '#/components/schemas/PackageVerification'}}}}, default: {$ref: '#/components/responses/Error'}}
  /webhook-endpoints:
    post:
      operationId: createWebhookEndpoint
      x-kommunsign-implementation-status: runtime
      security: [{oauth2: [webhooks:manage]}]
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateWebhookEndpoint'}}}}
      responses: {'201': {description: Endpoint created, content: {application/json: {schema: {$ref: '#/components/schemas/WebhookEndpoint'}}}}, default: {$ref: '#/components/responses/Error'}}
  /events:
    get:
      operationId: listEvents
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/Limit'}, {$ref: '#/components/parameters/Cursor'}]
      responses: {'200': {description: Tenant-scoped events, content: {application/json: {schema: {$ref: '#/components/schemas/EventPage'}}}}, default: {$ref: '#/components/responses/Error'}}
  /templates:
    get:
      operationId: listTemplates
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/Limit'}, {$ref: '#/components/parameters/Cursor'}]
      responses: {'200': {description: Tenant templates, content: {application/json: {schema: {$ref: '#/components/schemas/TemplatePage'}}}}, default: {$ref: '#/components/responses/Error'}}
    post:
      operationId: createTemplate
      x-kommunsign-implementation-status: runtime
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateTemplate'}}}}
      responses: {'201': {description: Immutable template version created, content: {application/json: {schema: {$ref: '#/components/schemas/Template'}}}}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications:
    post:
      operationId: createOnboardingApplication
      security: []
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateOnboardingApplication'}}}}
      responses: {'201': {description: Draft created; response contains a one-time applicant access token, content: {application/json: {schema: {$ref: '#/components/schemas/ApplicationCreated'}}}}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}:
    get:
      operationId: getOwnOnboardingApplication
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}]
      responses: {'200': {description: Applicant-visible application, content: {application/json: {schema: {$ref: '#/components/schemas/OnboardingApplication'}}}}, default: {$ref: '#/components/responses/Error'}}
    patch:
      operationId: updateOwnOnboardingApplication
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/UpdateOnboardingApplication'}}}}
      responses: {'200': {description: Updated, content: {application/json: {schema: {$ref: '#/components/schemas/OnboardingApplication'}}}}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/verify-email:
    post:
      operationId: verifyOnboardingEmail
      security: []
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [token], properties: {token: {type: string, minLength: 64, maxLength: 200}}}}}}
      responses: {'200': {description: Verified, content: {application/json: {schema: {$ref: '#/components/schemas/OnboardingApplication'}}}}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/resend-verification:
    post:
      operationId: resendOnboardingVerification
      security: []
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {description: Accepted without disclosing account existence}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/documents:
    post:
      operationId: addOnboardingDocument
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateOnboardingDocument'}}}}
      responses: {'201': {description: Document quarantined}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/submit:
    post:
      operationId: submitOnboardingApplication
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      responses: {'200': {description: Submitted with atomic ONB reference, content: {application/json: {schema: {$ref: '#/components/schemas/OnboardingApplication'}}}}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/withdraw:
    post:
      operationId: withdrawOnboardingApplication
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/IfMatch'}]
      responses: {'200': {description: Withdrawn}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/messages:
    get:
      operationId: listOnboardingMessages
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}]
      responses: {'200': {description: Applicant-visible communication}, default: {$ref: '#/components/responses/Error'}}
    post:
      operationId: createOnboardingMessage
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [body], properties: {body: {type: string, maxLength: 10000}, attachmentIds: {type: array, maxItems: 20, items: {type: string, format: uuid}}}}}}}
      responses: {'201': {description: Message created}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/applications/{applicationId}/information-requests:
    get:
      operationId: listOwnInformationRequests
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}]
      responses: {'200': {description: Open and historical requests}, default: {$ref: '#/components/responses/Error'}}
  /onboarding/information-requests/{requestId}/responses:
    post:
      operationId: respondToInformationRequest
      security: [{applicantToken: []}]
      parameters: [{$ref: '#/components/parameters/InformationRequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [applicationId, answer], properties: {applicationId: {type: string, format: uuid}, answer: {type: string, maxLength: 10000}, attachmentIds: {type: array, maxItems: 20, items: {type: string, format: uuid}}}}}}}
      responses: {'201': {description: Response stored as a separate revision}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications:
    get:
      operationId: listPlatformOnboardingApplications
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/Limit'}, {$ref: '#/components/parameters/Cursor'}]
      responses: {'200': {description: Permission-filtered application queue}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}:
    get:
      operationId: getPlatformOnboardingApplication
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}]
      responses: {'200': {description: Internal application detail}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/assign:
    post:
      operationId: assignOnboardingApplication
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Assigned}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/reviews:
    post:
      operationId: createOnboardingReview
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'201': {description: Immutable review recorded}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/information-requests:
    post:
      operationId: createInformationRequest
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'201': {description: Request created}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/approve:
    post:
      operationId: approveOnboardingApplication
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Approved; no active tenant is created}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/reject:
    post:
      operationId: rejectOnboardingApplication
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Rejected}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/provision:
    post:
      operationId: provisionApprovedApplication
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {description: Idempotent provisioning saga started}, default: {$ref: '#/components/responses/Error'}}
  /platform/onboarding/applications/{applicationId}/audit:
    get:
      operationId: getOnboardingAudit
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ApplicationId'}]
      responses: {'200': {description: Internal audit timeline}, default: {$ref: '#/components/responses/Error'}}
  /platform/provisioning/requests/{requestId}:
    get:
      operationId: getProvisioningRequest
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ProvisioningRequestId'}]
      responses: {'200': {description: Provisioning state}, default: {$ref: '#/components/responses/Error'}}
  /platform/provisioning/requests/{requestId}/retry:
    post:
      operationId: retryProvisioningRequest
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ProvisioningRequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {description: Safe retry queued}, default: {$ref: '#/components/responses/Error'}}
  /platform/tenants/{tenantId}/readiness:
    get:
      operationId: getTenantReadiness
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/TenantId'}]
      responses: {'200': {description: Latest readiness result}, default: {$ref: '#/components/responses/Error'}}
  /platform/tenants/{tenantId}/readiness/run:
    post:
      operationId: runTenantReadiness
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/TenantId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Active readiness checks executed}, default: {$ref: '#/components/responses/Error'}}
  /platform/tenants/{tenantId}/activation-requests:
    post:
      operationId: createTenantActivationRequest
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/TenantId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'202': {description: Activation request awaiting a distinct approver}, default: {$ref: '#/components/responses/Error'}}
  /platform/activation-requests/{requestId}/approve:
    post:
      operationId: approveTenantActivation
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ActivationRequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Activated only after readiness and two-person approval}, default: {$ref: '#/components/responses/Error'}}
  /platform/activation-requests/{requestId}/reject:
    post:
      operationId: rejectTenantActivation
      security: [{platformOidc: []}]
      parameters: [{$ref: '#/components/parameters/ActivationRequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      responses: {'200': {description: Activation rejected}, default: {$ref: '#/components/responses/Error'}}
  /auth/login:
    post:
      operationId: login
      summary: Logga in med ett konto som har skapats eller bjudits in av Kommunsign
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/LoginRequest'}}}}
      responses:
        '200': {description: Inloggad session, headers: {Set-Cookie: {schema: {type: string}}}, content: {application/json: {schema: {$ref: '#/components/schemas/AuthenticatedSession'}}}}
        '401': {$ref: '#/components/responses/Error'}
        '429': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /auth/password/forgot:
    post:
      operationId: requestPasswordReset
      summary: Skicka en återställningslänk med enbart e-post utan att avslöja om kontot finns
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/PasswordRecoveryRequest'}}}}
      responses:
        '202': {description: Begäran accepterad}
        '429': {$ref: '#/components/responses/Error'}
        default: {$ref: '#/components/responses/Error'}
  /auth/password/complete:
    post:
      operationId: completePassword
      summary: Sätt lösenord från en giltig inbjudnings- eller återställningslänk
      security: []
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CompletePasswordRequest'}}}}
      responses:
        '200': {description: Lösenord sparat och session skapad, headers: {Set-Cookie: {schema: {type: string}}}, content: {application/json: {schema: {$ref: '#/components/schemas/AuthenticatedSession'}}}}
        default: {$ref: '#/components/responses/Error'}
  /auth/session:
    get:
      operationId: getAuthenticatedSession
      summary: Hämta och förnya CSRF-bindningen för aktuell sessionscookie
      security: [{sessionCookie: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}]
      responses:
        '200': {description: Aktiv session, content: {application/json: {schema: {$ref: '#/components/schemas/AuthenticatedSession'}}}}
        '401': {$ref: '#/components/responses/Error'}
  /auth/logout:
    post:
      operationId: logout
      summary: Återkalla aktuell sessionscookie
      security: [{sessionCookie: []}]
      parameters: [{$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/CsrfToken'}]
      responses:
        '200': {description: Session avslutad, headers: {Set-Cookie: {schema: {type: string}}}}
        default: {$ref: '#/components/responses/Error'}
  /platform/organizations/{organizationId}/users:
    get:
      operationId: listOrganizationUsers
      summary: Lista konton som superadmin har bjudit in till organisationen
      security: [{sessionCookie: []}]
      parameters: [{$ref: '#/components/parameters/OrganizationId'}, {$ref: '#/components/parameters/RequestId'}]
      responses:
        '200': {description: Organisationskonton, content: {application/json: {schema: {type: array, items: {$ref: '#/components/schemas/OrganizationUser'}}}}}
        default: {$ref: '#/components/responses/Error'}
    post:
      operationId: inviteOrganizationUser
      summary: Skapa eller bjud in ett organisationskonto
      security: [{sessionCookie: []}]
      parameters: [{$ref: '#/components/parameters/OrganizationId'}, {$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/CsrfToken'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/OrganizationUserInput'}}}}
      responses:
        '201': {description: Kontot har skapats eller inbjudan har skickats, content: {application/json: {schema: {$ref: '#/components/schemas/OrganizationUser'}}}}
        default: {$ref: '#/components/responses/Error'}
  /platform/organizations/{organizationId}/users/{accountId}:
    patch:
      operationId: setOrganizationUserStatus
      summary: Stäng av eller återaktivera ett organisationskonto
      security: [{sessionCookie: []}]
      parameters: [{$ref: '#/components/parameters/OrganizationId'}, {$ref: '#/components/parameters/OrganizationAccountId'}, {$ref: '#/components/parameters/RequestId'}, {$ref: '#/components/parameters/IdempotencyKey'}, {$ref: '#/components/parameters/CsrfToken'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/OrganizationUserStatusInput'}}}}
      responses:
        '200': {description: Kontostatus uppdaterad, content: {application/json: {schema: {$ref: '#/components/schemas/OrganizationUser'}}}}
        default: {$ref: '#/components/responses/Error'}
components:
  securitySchemes:
    applicantToken: {type: http, scheme: bearer, bearerFormat: opaque-256-bit}
    sessionCookie: {type: apiKey, in: cookie, name: __Host-ks_api_session}
    platformOidc: {type: openIdConnect, openIdConnectUrl: https://admin.kommunsign.se/.well-known/openid-configuration}
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.kommunsign.se/oauth/token
          scopes:
            signature-cases:read: Read signature cases and reports
            signature-cases:write: Create and operate signature cases
            documents:download: Download signed documents and evidence
            webhooks:manage: Manage webhook endpoints
  parameters:
    CaseId: {name: id, in: path, required: true, schema: {type: string, format: uuid}}
    UploadId: {name: uploadId, in: path, required: true, schema: {type: string, format: uuid}}
    SignerId: {name: signerId, in: path, required: true, schema: {type: string, format: uuid}}
    DocumentId: {name: documentId, in: path, required: true, schema: {type: string, format: uuid}}
    InvitationToken: {name: token, in: path, required: true, schema: {type: string, minLength: 43, maxLength: 512, pattern: '^[A-Za-z0-9_-]+$'}}
    ProviderSessionId: {name: sessionId, in: path, required: true, schema: {type: string, minLength: 8, maxLength: 256}}
    VerificationId: {name: verificationId, in: path, required: true, schema: {type: string, minLength: 16, maxLength: 100}}
    ApplicationId: {name: applicationId, in: path, required: true, schema: {type: string, format: uuid}}
    InformationRequestId: {name: requestId, in: path, required: true, schema: {type: string, format: uuid}}
    ProvisioningRequestId: {name: requestId, in: path, required: true, schema: {type: string, format: uuid}}
    ActivationRequestId: {name: requestId, in: path, required: true, schema: {type: string, format: uuid}}
    TenantId: {name: tenantId, in: path, required: true, schema: {type: string, format: uuid}}
    OrganizationId: {name: organizationId, in: path, required: true, schema: {type: string, format: uuid}}
    OrganizationAccountId: {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
    CsrfToken: {name: X-CSRF-Token, in: header, required: true, schema: {type: string, minLength: 32, maxLength: 512}}
    RequestId: {name: X-Request-Id, in: header, required: false, schema: {type: string, maxLength: 128}}
    IdempotencyKey: {name: Idempotency-Key, in: header, required: true, schema: {type: string, minLength: 16, maxLength: 200}}
    IfMatch: {name: If-Match, in: header, required: false, description: Current positive statusVersion, schema: {type: string}}
    Limit: {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 200, default: 50}}
    Cursor: {name: cursor, in: query, required: false, schema: {type: string, maxLength: 300}}
  responses:
    Error: {description: Structured error, content: {application/json: {schema: {$ref: '#/components/schemas/ApiError'}}}}
    NotFound: {description: Resource not found, content: {application/json: {schema: {$ref: '#/components/schemas/ApiError'}}}}
    IdempotencyConflict: {description: Idempotency key reused with different method, path or canonical payload, content: {application/json: {schema: {$ref: '#/components/schemas/ApiError'}}}}
    ProviderNotConfigured: {description: Required cryptographic provider is not configured, content: {application/json: {schema: {$ref: '#/components/schemas/ApiError'}}}}
  schemas:
    LoginRequest:
      type: object
      additionalProperties: false
      required: [email, password, destinationHostname]
      properties:
        email: {type: string, format: email, maxLength: 254}
        password: {type: string, minLength: 1, maxLength: 128, writeOnly: true}
        destinationHostname: {type: string, format: hostname}
        organizationSlug: {type: string, minLength: 1, maxLength: 63}
    PasswordRecoveryRequest:
      type: object
      additionalProperties: false
      required: [email, destinationHostname]
      properties:
        email: {type: string, format: email, maxLength: 254}
        destinationHostname: {type: string, format: hostname}
        organizationSlug: {type: string, minLength: 1, maxLength: 63, deprecated: true, description: Behövs inte för lösenordsåterställning; används endast för bakåtkompatibilitet}
    CompletePasswordRequest:
      type: object
      additionalProperties: false
      required: [password, destinationHostname]
      oneOf:
        - required: [tokenHash, type]
        - required: [accessToken]
      properties:
        tokenHash: {type: string, minLength: 32, maxLength: 1024, writeOnly: true, description: Prefetch-resistant Supabase email action token hash}
        type: {type: string, enum: [invite, recovery]}
        accessToken: {type: string, minLength: 32, maxLength: 8192, writeOnly: true, deprecated: true, description: Legacy implicit-flow compatibility}
        password: {type: string, minLength: 12, maxLength: 128, writeOnly: true}
        destinationHostname: {type: string, format: hostname}
        organizationSlug: {type: string, minLength: 1, maxLength: 63}
    AuthenticatedSession:
      type: object
      additionalProperties: false
      required: [subjectId, boundary, destinationUrl, expiresAt, csrfToken]
      properties:
        subjectId: {type: string, format: uuid}
        boundary: {type: string, enum: [platform, tenant]}
        destinationUrl: {type: string, format: uri}
        expiresAt: {type: string, format: date-time}
        csrfToken: {type: string, minLength: 32, writeOnly: true}
        tenantId: {type: string, format: uuid}
        displayName: {type: string}
    OrganizationUserInput:
      type: object
      additionalProperties: false
      required: [displayName, email, roleKey]
      properties:
        displayName: {type: string, minLength: 2, maxLength: 200}
        email: {type: string, format: email, maxLength: 254}
        roleKey: {type: string, enum: [tenant_admin, tenant_security_admin, tenant_integration_admin, tenant_archive_admin, department_admin, document_creator, document_sender, approver, auditor, readonly]}
    OrganizationUserStatusInput:
      type: object
      additionalProperties: false
      required: [action]
      properties:
        action: {type: string, enum: [disable, enable]}
    OrganizationUser:
      type: object
      additionalProperties: false
      required: [id, tenantId, providerSubjectId, displayName, maskedEmail, roleKey, status, invitedAt]
      properties:
        id: {type: string, format: uuid}
        tenantId: {type: string, format: uuid}
        providerSubjectId: {type: string}
        displayName: {type: string}
        maskedEmail: {type: string}
        roleKey: {type: string, enum: [tenant_admin, tenant_security_admin, tenant_integration_admin, tenant_archive_admin, department_admin, document_creator, document_sender, approver, auditor, readonly]}
        status: {type: string, enum: [invited, active, disabled, revoked, failed]}
        invitedAt: {type: string, format: date-time}
    CreateOnboardingApplication:
      type: object
      additionalProperties: false
      required: [organizationName, organizationNumber, organizationType, primaryEmail, primaryContactName, primaryContactTitle]
      properties:
        organizationName: {type: string, minLength: 2, maxLength: 300}
        organizationNumber: {type: string, pattern: '^[0-9-]{10,20}$'}
        organizationType: {type: string, enum: [municipality, region, municipal_federation, municipal_company, authority, public_supplier, other_public_body]}
        primaryEmail: {type: string, format: email}
        primaryContactName: {type: string, maxLength: 200}
        primaryContactTitle: {type: string, maxLength: 200}
    UpdateOnboardingApplication:
      type: object
      additionalProperties: false
      properties:
        organizationName: {type: string, maxLength: 300}
        primaryContactName: {type: string, maxLength: 200}
        primaryContactTitle: {type: string, maxLength: 200}
        profile: {type: object, additionalProperties: true}
    OnboardingApplication:
      type: object
      additionalProperties: false
      required: [id, status, statusVersion, organizationName, organizationNumber, organizationType, primaryEmail, primaryContactName, primaryContactTitle, profile, createdAt, updatedAt]
      properties:
        id: {type: string, format: uuid}
        applicationReference: {type: string, pattern: '^ONB-[0-9]{4}-[0-9]{6}$'}
        status: {type: string}
        statusVersion: {type: integer, minimum: 1}
        organizationName: {type: string}
        organizationNumber: {type: string}
        organizationType: {type: string}
        primaryEmail: {type: string, format: email}
        primaryContactName: {type: string}
        primaryContactTitle: {type: string}
        profile: {type: object}
        emailVerifiedAt: {type: string, format: date-time}
        submittedAt: {type: string, format: date-time}
        decidedAt: {type: string, format: date-time}
        assignedTo: {type: string, format: uuid}
        tenantId: {type: string, format: uuid}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}
    ApplicationCreated:
      type: object
      additionalProperties: false
      required: [application, accessToken, verificationRequired]
      properties:
        application: {$ref: '#/components/schemas/OnboardingApplication'}
        accessToken: {type: string, writeOnly: true, minLength: 64}
        verificationRequired: {type: boolean, const: true}
    CreateOnboardingDocument:
      type: object
      additionalProperties: false
      required: [fileName, mimeType, byteSize, sha256, category]
      properties:
        fileName: {type: string, maxLength: 200}
        mimeType: {type: string, const: application/pdf}
        byteSize: {type: integer, minimum: 1, maximum: 104857600}
        sha256: {type: string, pattern: '^[0-9a-f]{64}$'}
        category: {type: string, maxLength: 80}
    CreateSignatureCase:
      type: object
      additionalProperties: false
      required: [title, decisionMode, signaturePolicyId]
      properties:
        externalReference: {type: string, minLength: 1, maxLength: 200}
        title: {type: string, minLength: 1, maxLength: 300}
        decisionMode: {type: string, enum: [DIGITAL_APPROVAL, ELECTRONIC_SIGNATURE]}
        signaturePolicyId: {type: string, format: uuid}
    SignatureCase:
      type: object
      additionalProperties: false
      required: [id, tenantId, status, decisionMode, title, createdAt]
      properties:
        id: {type: string, format: uuid}
        tenantId: {type: string, format: uuid, readOnly: true}
        status: {type: string}
        statusVersion: {type: integer, minimum: 1}
        decisionMode: {type: string, enum: [DIGITAL_APPROVAL, ELECTRONIC_SIGNATURE]}
        title: {type: string}
        externalReference: {type: string}
        createdAt: {type: string, format: date-time}
    AddDocument:
      type: object
      additionalProperties: false
      required: [uploadId, displayName]
      properties: {uploadId: {type: string, format: uuid}, displayName: {type: string, minLength: 1, maxLength: 200}}
    Document:
      type: object
      additionalProperties: false
      required: [id, signatureCaseId, displayName, status, sha256, byteSize, mimeType]
      properties: {id: {type: string, format: uuid}, signatureCaseId: {type: string, format: uuid}, displayName: {type: string}, status: {type: string}, sha256: {type: string, pattern: '^[0-9a-f]{64}$'}, byteSize: {type: integer}, mimeType: {type: string}}
    PersonalNumberException:
      type: object
      additionalProperties: false
      required: [code]
      properties:
        code: {type: string, enum: [UNKNOWN_AT_INVITATION, DATA_MINIMIZATION, PROTECTED_PERSONAL_DATA_WORKFLOW, RECIPIENT_SELECTED_BY_SECURE_CHANNEL, OTHER]}
        reason: {type: [string, 'null'], maxLength: 2000, description: Required for OTHER and tenant-encrypted at rest}
    AddSigner:
      type: object
      additionalProperties: false
      required: [displayName, email, requirePersonalNumberMatch, required, signingOrder]
      properties:
        displayName: {type: string, minLength: 1, maxLength: 200}
        email: {type: string, format: email, maxLength: 320}
        personalNumber: {type: [string, 'null'], pattern: '^[0-9]{12}$', description: Normalized Swedish YYYYMMDDNNNN; tenant-encrypted and never logged}
        requirePersonalNumberMatch: {type: boolean}
        personalNumberException: {oneOf: [{$ref: '#/components/schemas/PersonalNumberException'}, {type: 'null'}]}
        required: {type: boolean}
        signingOrder: {type: integer, minimum: 1}
    Signer:
      type: object
      additionalProperties: false
      required: [id, signatureCaseId, displayName, maskedEmail, identifierBindingMode, status, required, signingOrder]
      properties:
        id: {type: string, format: uuid}
        signatureCaseId: {type: string, format: uuid}
        displayName: {type: string}
        maskedEmail: {type: string}
        maskedPersonalNumber: {type: [string, 'null']}
        identifierBindingMode: {type: string, enum: [STRICT_PREBOUND, BANKID_DISCOVERED]}
        identifierBindingExceptionCode: {type: [string, 'null']}
        status: {type: string}
        required: {type: boolean}
        signingOrder: {type: integer}
    CreateUploadGrant:
      type: object
      additionalProperties: false
      required: [fileName, mimeType, byteSize, sha256]
      properties: {fileName: {type: string, maxLength: 200}, mimeType: {type: string, enum: [application/pdf]}, byteSize: {type: integer, minimum: 1, maximum: 104857600}, sha256: {type: string, pattern: '^[0-9a-f]{64}$'}}
    UploadGrant:
      allOf: [{$ref: '#/components/schemas/CreateUploadGrant'}, {type: object, required: [id, uploadUrl, expiresAt, requiredHeaders], properties: {id: {type: string, format: uuid}, uploadUrl: {type: string, format: uri}, expiresAt: {type: string, format: date-time}, requiredHeaders: {type: object, additionalProperties: {type: string}}}}]
    CompleteUpload:
      type: object
      additionalProperties: false
      required: [sha256]
      properties: {sha256: {type: string, pattern: '^[0-9a-f]{64}$'}}
    UploadCompleted:
      type: object
      additionalProperties: false
      required: [id, status]
      properties: {id: {type: string, format: uuid}, status: {type: string, enum: [uploaded]}}
    PublicSigningInvitation:
      type: object
      additionalProperties: false
      required: [invitationId, signerId, signatureCaseId, organizationName, caseReference, caseTitle, signerDisplayName, status, expiresAt, identifierBindingMode, visibleText, documents]
      properties:
        invitationId: {type: string, format: uuid}
        signerId: {type: string, format: uuid}
        signatureCaseId: {type: string, format: uuid}
        organizationName: {type: string}
        caseReference: {type: string}
        caseTitle: {type: string}
        signerDisplayName: {type: string}
        status: {type: string}
        expiresAt: {type: string, format: date-time}
        identifierBindingMode: {type: string, enum: [STRICT_PREBOUND, BANKID_DISCOVERED]}
        visibleText: {type: string}
        documents: {type: array, maxItems: 20, items: {type: object, additionalProperties: false, required: [id, displayName, sha256, byteSize, mimeType, profile, ordinal], properties: {id: {type: string, format: uuid}, displayName: {type: string}, sha256: {type: string, pattern: '^[0-9a-f]{64}$'}, byteSize: {type: integer}, mimeType: {type: string, const: application/pdf}, profile: {type: string, const: PDF/A-2b}, ordinal: {type: integer, minimum: 1}}}}
    BankIdSession:
      type: object
      additionalProperties: true
      required: [sessionId, status]
      properties: {sessionId: {type: string}, status: {type: string}, qrCodeData: {type: string}, autoStartToken: {type: string}, expiresAt: {type: string, format: date-time}, retryAfterSeconds: {type: integer, minimum: 2}, canExtend: {type: boolean}}
    PublicVerification:
      type: object
      additionalProperties: false
      required: [verified, organization, caseReference, documents, signerCount, signedAt, verifierEngine, verifierPolicyVersion, packageSha256]
      properties: {verified: {type: boolean, const: true}, organization: {type: string}, caseReference: {type: string}, documents: {type: array, items: {type: object, required: [displayName, sha256], properties: {displayName: {type: string}, sha256: {type: string}}}}, signerCount: {type: integer}, signedAt: {type: string, format: date-time}, verifierEngine: {type: string}, verifierPolicyVersion: {type: string}, packageSha256: {type: string}}
    PackageVerification:
      type: object
      additionalProperties: false
      required: [verified, packageSha256, failures]
      properties: {verified: {type: boolean}, packageSha256: {type: string, pattern: '^[0-9a-f]{64}$'}, failures: {type: array, items: {type: string}}, manifest: {type: object}}
    CreateWebhookEndpoint:
      type: object
      additionalProperties: false
      required: [url, subscribedEvents]
      properties: {url: {type: string, format: uri, pattern: '^https://'}, subscribedEvents: {type: array, minItems: 1, maxItems: 50, uniqueItems: true, items: {type: string}}}
    WebhookEndpoint:
      allOf: [{$ref: '#/components/schemas/CreateWebhookEndpoint'}, {type: object, required: [id, active, createdAt], properties: {id: {type: string, format: uuid}, active: {type: boolean}, createdAt: {type: string, format: date-time}}}]
    CreateTemplate:
      type: object
      additionalProperties: false
      required: [templateKey, locale, subjectTemplate, bodyTemplate]
      properties: {templateKey: {type: string, pattern: '^[a-z][a-z0-9_.-]+$'}, locale: {type: string}, subjectTemplate: {type: string, maxLength: 200}, bodyTemplate: {type: string, maxLength: 20000}}
    Template:
      allOf: [{$ref: '#/components/schemas/CreateTemplate'}, {type: object, required: [id, version, active], properties: {id: {type: string, format: uuid}, version: {type: integer, minimum: 1}, active: {type: boolean}}}]
    QueuedJob: {type: object, additionalProperties: false, required: [jobId, status], properties: {jobId: {type: string, format: uuid}, status: {type: string, const: queued}}}
    DomainEvent: {type: object, required: [id, tenantId, type, occurredAt, apiVersion, data], properties: {id: {type: string, format: uuid}, tenantId: {type: string, format: uuid}, type: {type: string}, occurredAt: {type: string, format: date-time}, apiVersion: {type: string}, data: {type: object}}}
    SignatureCasePage: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/SignatureCase'}}, nextCursor: {type: string}}}
    EventPage: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/DomainEvent'}}, nextCursor: {type: string}}}
    TemplatePage: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Template'}}, nextCursor: {type: string}}}
    ApiError:
      type: object
      additionalProperties: false
      required: [error]
      properties:
        error:
          type: object
          additionalProperties: false
          required: [code, message, requestId]
          properties: {code: {type: string}, message: {type: string}, requestId: {type: string}, details: {type: object}}
